* {
    margin:0;
    padding:0;
    font-family:Arial, Verdana, sans-serif;
}

body {
    background-color:#44F;
    text-align:center;
    width:50rem;
    margin:auto;
}

header {
    margin:1rem 0;
    box-shadow:0 0 0.5rem 0 #000;
    background-color:#69C;
}

h1 {
    text-align:center;
    padding:0.2rem;
}

img {
    vertical-align:middle;
    height:1em;
}

h2 {
    padding:0.5em 1em;
    text-shadow: 0.1em 0.1em 0.15em #44F; 
}

#main {
    box-shadow:0 0 0.5rem 0 #000;
    text-align:left;
    background-color:#FFF;
}

#main a {text-decoration:none}

#pano-list li samp:after {
    padding-left:1em;
    content:'fichier non configuré';
    font-weight:bold;
    color:#F00;
}
#pano-list li {
    list-style-type:circle;
    list-style-position:inside;
    border:dashed #777 0;
    border-top-width:0.1em;
    padding:0.3em 1em;
}

#pano-list li:nth-child(6n),
#pano-list li:nth-child(6n+1),
#pano-list li:nth-child(6n+2) {
    background-color:#FFE;
}

#pano-list li:nth-child(6n+3),
#pano-list li:nth-child(6n+4),
#pano-list li:nth-child(6n+5) {
    background-color:#FEF;
}

#interaction {
    text-align:center;
    border:solid #777 0;
    border-top-width:0.1em;
    padding:0.5em 0;
}

#interaction a {
    padding:1em;
}

#interaction a:hover {
    color:#F90;
    text-decoration:underline;
}

footer {
  margin:1rem 0
}

.validators samp {
    border-radius: 0.4rem;
    padding:0.2em 0.3em;
    text-shadow: 0.1em 0.05em 0.15em #444; 
    background-color:#fff;
}

.validators a {
  border:solid 0.2em #FFF;
}

.validators a:hover {
  border-color:#F00;
}
