* {
    font-family:Arial, Verdana, sans-serif;
    padding:0;
    margin:0;
}

body {
    overflow:hidden;
}

#mon-canvas {
    background-color:#44F;
    margin:auto;
    display:block;
}

#info {
    display:none;
    background-color:#FF0;
    border:1px red solid;
    position:absolute;
    margin:1em;
    padding:0.2em 0.5em;
    border-radius:0.5em;
}

#insert {
    display:none;
    background-color:#F88;
    border:1px red solid;
    position:absolute;
}

label {
    display:block;
    clear:both;
}

legend {
    opacity:1;
    background-color:#F88;
    border:solid #F00 1px;
    border-radius:0.5em;
    padding:0 1em;
    text-shadow:2px 2px 2px #000, -2px -2px 2px #000;
}      

legend:hover {
    color:#FF0;
    cursor:default;
}

img {vertical-align:middle}

input {
    vertical-align:middle;
}

input[type="number"] {
    border-radius:1em;
    display:block;
    float:right;
    width:10ex;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    border-radius:0.4rem;
    padding:0.2em 1em;
    margin:0.2em;
}

input[type="checkbox"] {
    margin:0 1em;
}

#params {
    padding:0.2em 0.5em;
    border-radius:0.5em;
    background-color:rgba(128,128,128,0.5);
    border:solid #00F 1px;
    position:absolute;
    top:1em;
    right:2em;
    min-width:10em;
    color:#FFF;
}

#params em {	
    display:block;
    float:right;
    background-color:#88F;
    border-radius:0.5em;
    padding:0 0.5em;
    color:#FF0;
}

#loca_show {
    text-shadow:2px 2px 2px #000, -2px -2px 2px #000;
    color:#FFF;
    float:left;
    position:absolute;
    bottom:1em;
    left:1em;
    cursor:pointer;
    padding:0.2em 0.5em;
    padding:0 1em; 
}

#addParams {
    text-shadow:2px 2px 2px #000, -2px -2px 2px #000;
    color:#FFF;
    position:absolute;
    top:1em;
    right:2em;
    border:solid #F00 1px;
    border-radius:0.5em;
    padding:0.2em 0.5em;
    background-color:#F88; 
    padding:0 1em;
}

#addParams label {
    border-radius:0.5em;
    padding:0 1em;
}

#addParams label:hover {
    color: #FF0; 
}

fieldset {
    border:solid #F00 1px;
    border-radius:0.5em;
    padding:0 0.5em;
    color:#FFF;
    position:absolute;
    background-color:rgba(128,128,128,0.5);
}

fieldset#control {
    top:1em;
    left:2em;
    padding:0.2em 0.5em;
}


fieldset#locadraw {
    bottom:1em;
    left:1em;
    visibility:hidden;
    min-width:10em;
}

fieldset#adding {
    top:1em;
    right:2em;
    visibility: hidden;
}

#form_param label {	
    text-shadow:2px 2px 2px #000, -2px -2px 2px #000;
}
 

input:focus {
  background-color:#004;
  color:#FFF;
  border-color:#F00;
}
 
.validators {
    text-align:center;
    background-color:rgba(50%,50%,50%,0.5);
    border:solid 1px #F55;
    border-radius:0.5em;
    border-width:1px;
    position:absolute;
    bottom:1em;
    left:45%;
    padding:0.2em 0.5em;
    font-size:80%;
}

.validators img {height:1em}

#res {
    padding:0.2em 0.4em;
    color:#FF8;
    position:absolute;
    bottom:1em;
    right:2em;
    background-color:rgba(0,0,0,0.3);
    border:solid #FFF 1px;
}

#res:empty {display:none}

#res li {
    list-style-type: none;
    color:#FFF;
    background-color:rgba(100,0,0,0.5);
}
